* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

.container {
  max-width: 620px;
  font-family: @df-sans;
}

.hed {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;
}

canvas {
  width: 100%;
  cursor: pointer;
}

.tooltip {
  display: none;
  font-size: 14px;
  position: absolute;
  background: white;
  padding: 3px 5px;
  border: @df-border-gray;
  padding: 10px;
  padding-bottom: 8px;
  border: 1px solid @df-light-gray;

  &.show {
    display: block;
  }

  .swatch {
    display: inline-block;
    font-size: 12px;
    padding: 1px 3px;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-right: 5px;
  }
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}