* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

.container {
  max-width: 620px;
  font-family: @df-sans;
}

.hed {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;
}

canvas {
  width: 100%;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  background: @df-light-gray;
  padding: 3px 5px;
  border: @df-border-gray;

  &.show {
    display: block;
  }

  .swatch {
    width: 15px;
    height: 15px;
    display: inline-block;
  }
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}