* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

.lost {
  color: @low;
}
.gained {
  color: @high;
}

.container {
  max-width: 620px;
  font-family: @df-sans;
}

.outermost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
}

.hed {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;
}

canvas {
  width: 100%;
  cursor: pointer;
}

.legend-title {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}
.legend {
  .display-flex;

  .key {
    .flex(1);
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;

    &.swatch {
      height: 12px;

      &.low {
        background: rgba(200,34,76,.9);
      }
      &.low-med {
        background: rgba(236,196,192,1);
      }
      &.med {
        background: rgba(176,176,187,1);
      }
      &.med-high {
        background: rgba(120,122,140,1);
      }
      &.high {
        background: rgba(29,49,75,.95);
      }
    }
  }
}

.tooltip {
  display: none;
  font-size: 14px;
  position: absolute;
  background: white;
  padding: 3px 5px;
  border: @df-border-gray;
  padding: 10px;
  padding-bottom: 8px;
  border: 1px solid @df-light-gray;

  @media @mobile {
    font-size: 12px;
  }

  &.show {
    display: block;
  }

  .swatch {
    display: inline-block;
    font-size: 12px;
    padding: 1px 3px;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-right: 5px;

    @media @mobile {
      font-size: 10px;
    }
  }

  .percent {
    color: @df-middle-gray;
    font-size: 12px;

    @media @mobile {
      font-size: 10px;
    }
  }

  .year {
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
  }
}

.arrow {
  font-size: 8px;
  padding-right: 3px;

  @media @mobile {
    font-size: 6px;
  }
}

.note{
  padding-top: 10px;
  font-size: 12px;
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}

.jobs {
  font-size: 14px;

  .container {
    max-width: 960px;
  }

  .chatter, .bottom {
    max-width: 620px;
    margin: auto;
  }

  .view {
    padding-right: 2px;
    font-style: italic;

    @media @mobile {
      display: block;
      margin-bottom: 5px;
    }
  }

  .buttons {
    text-align: center;
    @media @mobile {
      text-align: left;
    }
  }

  .button {
    text-transform: uppercase;
    font-size: 12px;
    background: @df-border-gray;
    display: inline-block;
    padding: 6px 8px 4px 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;

    @media @mobile {
      font-size: 11px;
    }

    &:hover {
      background: @df-middle-gray;
    }

    &.selected {
      background: @df-dark-gray;
      color: white;
      cursor: default;
    }
  }

  .headers {
    .display-flex;
    padding-top: 10px;
    width: 100%;
    font-size: 15px;
    .align-items(center);
  }

  .header {
    display: inline-block;
    padding-bottom: 10px;

    .tiny {
      font-size: 11px;
    }

    .left-label {
      font-size: 14px;
      position: absolute;
      right: 100%;
      width: 80px;
      text-align: right;
    }

    .right-label {
      font-size: 14px;
      position: absolute;
      left: 100%;
      width: 100px;
      top: 0;
      text-align: left;
    }

    .hourly {
      padding-top: 3px;
    }

    .dashed {
      width: 50%;
      border-left: 1px dashed @df-dark-gray;
      border-bottom: 1px dashed @df-dark-gray;
      float: right;
      height: 22px;

      @media @break {
        display: none;
      }
    }
  }

  .left {
    .flex(1);
    text-align: right;
  }
  .middle {
    .flex(0 0 80px);
    text-align: center;
    font-size: 10px;
    position: relative;
    padding: 0 8px 10px 8px;
  }
  .right {
    .flex(3);
  }

  .bars-row {
    width: 100%;
    .display-flex;
    cursor: pointer;

    &:hover {
      .bar.low {
        background: @low;
      }
      .bar.high {
        background: @high;
      }
      .bracket-label {
        font-weight: bold;
      }
    }
  }

  .bars {
    .flex(1);

    .inner {
      .display-flex;
    }

    .left-bars {
      .flex(1);
    }
    .right-bars {
      .flex(3);
    }

    .bar {
      float: left;
      height: 20px;
      margin-bottom: 8px;
      position: relative;
      transition: width 0.5s ease-in-out;

      &.low {
        background: @low-light;
        &.selected {
          background: @low;
        }
      }
      &.high {
        background: @high-light;
        &.selected {
          background: @high;
        }
      }
    }

    .text {
      position: absolute;

      &.right {
        left: 100%;
        padding-left: 6px;

        &.selected {
          font-weight: bold;
        }
      }

      &.left {
        right: 100%;
        padding-right: 6px;

        &.selected {
          font-weight: bold;
        }
      }
    }
  }
  .bracket-label {
    .flex(0 0 80px);
    text-align: center;

    @media @mobile {
      .flex(0 0 65px);
      .cents {
        display: none;
      }
    }

    &.selected {
      font-weight: bold;
    }
  }
  .label {
    .flex(0 0 50px);
  }

  .info-box {
    .display-flex;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transition: max-height .5s linear;

    @media @break {
      display: block;
      text-align: center;
      font-size: 0.9em;

      .left, .middle {
        display: none;
      }
    }

    .info {
      font-size: 14px;
      color: @df-dark-gray;

      @media @break {
        border-bottom: 1px dashed @df-dark-gray;
        padding: 5px 15px 15px 15px;
      }

      .occupations {
        padding-top: 10px;
        color: @df-dark-gray;

        .occupations-text {
          color: black;
        }

        @media @break {
          max-width: 300px;
          margin: auto;
        }
      }
    }

    &.show {
      max-height: 200px;
    }

    &.gain {
      text-align: right;
    }
    &.loss {
      text-align: left;
    }

    .fa {
      margin-right: 5px;
    }

    .big {
      font-size: 18px;
    }

    .medium {
      font-size: 16px;
    }

    .bold {
      font-weight: bold;
    }
  }
}

.fa-long-arrow-up {
  color: @high;
}
.fa-long-arrow-down {
  color: @low;
}

.homes {
  .outmost {
    max-width: 620px;
  }
  .map {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  .search-container {
    text-align: center;
  }
  .search {
    font-size: 15px;
  }
  input {
    margin-left: 8px;
  }

  table {
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    font-style: @df-sans;
    border-collapse: collapse;

    @media @mobile {
      font-size: 13px;
    }

    td, th {
      width: 20%;
      border-bottom: 1px solid @df-border-gray;
      padding: 6px 8px;

      @media @mobile {
        padding: 4px;
      }
    }

    th {
      text-align: left;
      text-transform: uppercase;
      font-family: "Helvetica";

      @media @mobile {
        font-size: 9px;
      }
    }
  }
}
