<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <canvas width=500 height=400></canvas>
    </responsive-child>

    <script>
      <% 
        var years = [2007, 2008, 2009, 2010, 2011, 2012, 2013];
        var data = {};
        csv.income_data.forEach(function(row) {
          var obj = {};
          years.forEach(function(year) {
            obj[year] = {
              income: row[year]
            };
          });
          data[row.percentile] = obj;
        });
        csv.percent_change_data.forEach(function(row) {
          years.forEach(function(year) {
            data[row.percentile][year].percent = row[year];
          });
        });
      %>
      var incomeData = window.data = <%= JSON.stringify(data) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
