<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="jobs" ng-app="job-recovery">

    <responsive-child class="container">
      <div class="hed">Job recovery has been markedly uneven</div>
      <div class="chatter">During the recession, more jobs were lost statewide at the lower wage ranges. At the higher wage brackets, though, the number of jobs grew, even during the recession. King County shows an even starker difference between net growth in well-paid jobs and declines almost everywhere else.</div>

      <div class="outmost" ng-controller="JobsController">

        <span class="view">Viewing:</span>
        <div class="button" ng-class="{selected: selected == 'wa'}" ng-click="switchView('wa')">Washington</div class="button">
        <div class="button" ng-class="{selected: selected == 'kc'}" ng-click="switchView('kc')">King County</div>
        <div class="button" ng-class="{selected: selected == 'nkc'}" ng-click="switchView('nkc')">Non-King County</div>

        <div class="headers">
          <div class="label"></div>
          <div class="left header">
            <div class="tiny">2007-2013</div>
            <i class="fa fa-long-arrow-left"></i> Jobs <strong>lost</strong>
          </div>
          <div class="middle header">Hourly wage</div>
          <div class="right header">
            <div class="tiny">2007-2013</div>
            Jobs <strong>gained</strong> <i class="fa fa-long-arrow-right"></i>
          </div>
          <div class="label"></div>
        </div>

        <div ng-repeat="bracket in brackets track by $index">

          <div class="bars-row" ng-click="showInfo($index)">
            <div class="label"></div>
            <div class="bars">
              <div class="inner">
                <div class="left-bars">
                  <div class="bar" style="width: {{bracket.firstWidth}}%"></div>
                  <div class="low bar" style="width: {{bracket.secondWidth}}%">
                    <div ng-if="bracket.total < 0" class="left text">{{bracket.total * -1 | number}}</div>
                  </div>
                </div>
                  <div class="bracket-label">
                    {{bracket.bracket}}
                  </div>
                <div class="right-bars">
                  <div class="high bar" style="width: {{bracket.thirdWidth}}%">
                    <div ng-if="bracket.total > 0" class="right text">{{bracket.total | number}}</div>
                  </div>
                  <div class="bar" style="width: {{bracket.fourthWidth}}%"></div>
                </div>
              </div>
            </div>
            <div class="label"></div>
          </div>

          <div class="info-box" ng-class="{show: currentShown == $index}">
            
            <div class="label"></div>

            <div class="left header">
              <div class="info" ng-if="bracket.total < 0">
                <div ng-if="bracket.recession > 0">
                  <i class="big fa fa-long-arrow-up"></i> <span class="medium">{{bracket.recession | number}}</span> jobs <span class="big bold">gained</span> during the <span class="medium">recession</span>
                </div>
                <div ng-if="bracket.recession < 0">
                  <i class="big fa fa-long-arrow-down"></i> <span class="medium">{{bracket.recession * -1 | number}}</span> jobs <span class="big bold">lost</span> during the <span class="medium">recession</span>
                </div>
                <div>
                  <div ng-if="bracket.recovery > 0">
                    <i class="big fa fa-long-arrow-up"></i> <span class="medium">{{bracket.recovery | number}}</span> jobs <span class="big bold">gained</span> during the <span class="medium">recovery</span>
                  </div>
                  <div ng-if="bracket.recovery < 0">
                    <i class="big fa fa-long-arrow-down"></i> <span class="medium">{{bracket.recovery * -1 | number}}</span> jobs <span class="big bold">lost</span> during the <span class="medium">recovery</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="middle header"></div>

            <div class="right header">
              <div class="info" ng-if="bracket.total > 0">
                <div ng-if="bracket.recession > 0">
                  <i class="big fa fa-long-arrow-up"></i> <span class="medium">{{bracket.recession | number}}</span> jobs <span class="big bold">gained</span> during the <span class="medium">recession</span>
                </div>
                <div ng-if="bracket.recession < 0">
                  <i class="big fa fa-long-arrow-down"></i> <span class="medium">{{bracket.recession * -1 | number}}</span> jobs <span class="big bold">lost</span> during the <span class="medium">recession</span>
                </div>
                <div>
                  <div ng-if="bracket.recovery > 0">
                    <i class="big fa fa-long-arrow-up"></i> <span class="medium">{{bracket.recovery | number}}</span> jobs <span class="big bold">gained</span> during the <span class="medium">recovery</span>
                  </div>
                  <div ng-if="bracket.recovery < 0">
                    <i class="big fa fa-long-arrow-down"></i> <span class="medium">{{bracket.recovery * -1 | number}}</span> jobs <span class="big bold">lost</span> during the <span class="medium">recovery</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="label"></div>

          </div>
        </div>
      </div>

      <div class="source"><em>Source: Washington State Employment Security Department</em></div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script>
      var jobsDataKC = window.data = <%= JSON.stringify(csv.job_data_kc) %>
      var jobsDataWA = window.data = <%= JSON.stringify(csv.job_data_wa) %>
      var jobsDataNKC = window.data = <%= JSON.stringify(csv.job_data_nkc) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
