<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="jobs" ng-app="job-recovery">

    <responsive-child class="container">
      <div class="hed">Job recovery has been markedly uneven</div>
      <div class="chatter">During the recession, more jobs were lost statewide at the lower wage ranges. At the higher wage brackets, though, the number of jobs grew, even during the recession. King County shows an even starker difference between net growth in well-paid jobs and declines almost everywhere else.</div>

      <div class="outmost" ng-controller="JobsController">
        <div ng-repeat="bracket in brackets" class="row">
          <div class="bar" style="width: {{bracket.firstWidth}}%"></div>
          <div class="color bar" style="width: {{bracket.secondWidth}}%"></div>
          <div class="bar" style="width: {{bracket.thirdWidth}}%"></div>
        </div>
      </div>

      <div class="source"><em>Source: Washington State Employment Security Department</em></div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script>
      var jobsData = window.data = <%= JSON.stringify(csv.job_data) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
