<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
</head>
  <body>

    <responsive-child class="homes container" ng-app="home-values">
      <div class="outmost">
        <img class="map" src="./assets/recovery_gap_homes_map.jpeg"></img>

        <div ng-controller="HomeController">
          <div class="search-container">
            <span class="search">Search by city:</span>
            <input type="text" ng-change="search()" ng-model="searchText">
          </div>

          <table>
            <thead>
              <tr>
                <th>City
                <th>County
                <th class="right">2007
                <th class="right">2015
                <th class="right">% change

            <tbody>
              <tr ng-show="found.length == 0">
                <td colspan=100><em>No results found</em>
              <tr ng-repeat="row in found">
                <td>{{row.city}}
                <td>{{row.county}}
                <td class="right">
                  <span class="longyr">${{row.yr2007 | number}}</span>
                  <span class="shortyr">${{row.round2007 | number}}k</span>
                <td class="right">
                  <span class="longyr">${{row.yr2015 | number}}</span>
                  <span class="shortyr">${{row.round2015 | number}}k</span>
                <td class="right">
                  <span class="up caret" ng-if="row.up">&#9650;</span>
                  <span class="down caret" ng-if="row.down">&#9660;</span>
                  {{row.percent}}
                </tr>
          </table>
        </div>

        <div class="bottom">
          <div class="note">Note: Median home value data is for March of each year</div>
          <div class="source"><em>
            Source: Zillow</em>
          </div>
          <div class="credit">AUDREY CARLSEN AND EMMA O'NEILL / THE SEATTLE TIMES</div>
        </div>
      </div>
    </responsive-child>

    <script>
      var homeData = <%= JSON.stringify(csv.median_home_values) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
