<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>

    <responsive-child class="container" ng-app="home-values">
      <div class="hed">This is a searchable table</div>
      <div class="chatter">This is chatter about the searchable data.</div>

      <div class="outmost" ng-controller="HomeController">
        <table>
          <thead>
            <tr>
              <th class="left city">City
              <th class="left county">County
              <th class="left year2007">2007
              <th class="left year2015">2015
              <th class="left change">Percent change

          <tbody>
            <tr ng-repeat="row in data">
              <td class="left city">{{row.city}}
              <td class="left zip">{{row.county}}
              <td class="right percent">{{row.yr2007}}
              <td class="right total">{{row.yr2015}}
              <td class="right personal">{{row.percent}}
              </tr>
        </table>
      </div>


      <div class="bottom">
        <div class="note">*Occupation data, including median hourly wage, is for Washington state in 2013.</div>
        <div class="source"><em>
          Note: Adjusted for inflation.<br>
          Source: Washington State Employment Security Department</em>
        </div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
      </div>
    </responsive-child>

    <script>
      var homeData = <%= JSON.stringify(csv.median_home_values) %>
    </script>
    <script src="app.js"></script>
  </body>
</html>
